/JavaApplication5/nbproject/private/
/RelogioSwing/build/
/IdiomaSistemaSwing/nbproject/private/
/JavaApplication8/nbproject/private/
/JavaApplication8/build/
/IdiomaSwing/nbproject/private/
/IdiomaSwing/build/
/resolucaoTelaSwing/nbproject/private/
/resolucaoTelaSwing/build/
/TiposPrimitivos/nbproject/private/
/TiposPrimitivos/build/
/TesteTipos/nbproject/private/
/TesteTipos/build/
/SomaSwing/nbproject/private/
/SomaSwing/build/
/calculadoraIdade/nbproject/private/
/calculadoraIdade/build/
/Testes/nbproject/private/
/Operadores/nbproject/private/
/Operadores/build/
/Operadores Swing/nbproject/private/
/OperadoresSwing/nbproject/private/
/OperadoresSwing/build/
